/*Button Styles*/

button.action-btn,a.action-btn{
    border-radius: 0.625rem;
    text-align: center;
    line-height: 100%;
    min-width: 10rem;
    min-height: 2rem;
}

.action-btn.black{
    background-color: black;
    color: white;
}
.action-btn.purple-solid{
    background-color: var(--clr-purple-primary);
    color: white;
}
.action-btn.purple-bordered{
    background-color: var(--clr-purple-primary);
    color: white;
    border-color: white;
    border:1px;
}
.action-btn.green{
    background-color: white;
    color: var(--clr-green-dark);
    border-color: var(--clr-green-dark);
    border:1px;
}

/* Sidebar */

div.sidebar{
    position:fixed;
    width: 21.44rem;
    height: 35rem;
    background: var(--clr-green-light);
    box-shadow: var(--clr-green-light);
    margin:5%;
    margin-left: 0;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.sidebar::before, div.sidebar::after {
    content: "";
    position:absolute;
    height:2.94rem;
    width: 2.94rem;
    bottom: 0;
    background:transparent;
    
}
div.sidebar::before {
    bottom:100%;
    border-bottom-left-radius: 50%;
    left:0;
    box-shadow: 0 1.47rem 0 0 var(--clr-green-light);
}
div.sidebar::after {
    top: 100%;
    border-top-left-radius: 50%;
    left:0;
    box-shadow: 0 -1.47rem 0 0 var(--clr-green-light);
}

/* Property Cards */

