/*Button Styles*/

button.action-btn,
a.action-btn {
    border-radius: 0.625rem;
    text-align: center;
    line-height: 100%;
    min-width: 10rem;
    min-height: 2rem;
}

.action-btn.black {
    background-color: black;
    color: white;
}
.action-btn.purple-solid {
    background-color: var(--clr-purple-primary);
    color: white;
}
.action-btn.purple-bordered {
    background-color: var(--clr-purple-primary);
    color: white;
    border-color: white;
    border: 1px;
}
.action-btn.green {
    background-color: white;
    color: var(--clr-green-dark);
    border-color: var(--clr-green-dark);
    border: 1px;
}

/* Sidebar */

aside.sidebar {
    position: sticky;
    top: 5rem;
    left: 0;
    max-width: 20rem;
    min-width: 15rem;
    min-height: 20rem;
    background: var(--clr-green-bg);
    margin: 2rem 3rem 5rem 0;
    padding: 1.5rem;
    border-radius: 0 var(--rad-med) var(--rad-med) 0;
    word-break: break-all;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
aside.sidebar::before,
aside.sidebar::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2.94rem;
    width: 2.94rem;
    background: transparent;
}
aside.sidebar::before {
    bottom: 100%;
    border-bottom-left-radius: 50%;
    box-shadow: 0 1.47rem 0 0 var(--clr-green-bg);
}
aside.sidebar::after {
    top: 100%;
    border-top-left-radius: 50%;
    box-shadow: 0 -1.47rem 0 0 var(--clr-green-bg);
}

/* Property Cards */
