div.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sort-home-m {
    display: none;
}

input[type="text"].search-mb {
    display: none;
}

.flat1 {
    padding-left: 22.5%;
}

.flat.center {
    text-align: center;
}

aside.sidebar {
    height: fit-content;
}
.sidebar-content {
    padding: 0.5 rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
}
.amenities {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.calendar {
    width: 95%;
    background-image: url("../icons/calendar.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.btn-increment {
    width: 50%;
}
.btn-decrement {
    width: 50%;
}
.btn-amenities {
    flex: 0 0 30%;
    margin-bottom: 4px;
}
button.action-btn {
    font-size: 16px;
    height: auto;
    padding: 0.5rem;
}

.price-icons {
    margin-right: 5px;
    margin-left: 5px;
    width: 35%;
}

div.home-content {
    margin: 2rem 0;
}

.property_card {
    width: 30%;
}

.home-cards {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    column-gap: 2rem;
    font-size: var(--font-size-sml);
}
@media only screen and (max-width: 610px) {
    /* For mobile phones and tablets: */
    input[type="text"].search {
        display: none;
    }
    input[type="text"].search-mb {
        display: unset;
        margin-top: 5px;
        color: white;
        width: 15rem;
        box-sizing: border-box;
        border: 2px solid white;
        background-color: var(--clr-purple-primary);
        background-image: url("../icons/search.svg");
        background-position: 110% 50%;
        background-size: 30% 150%;
        background-repeat: no-repeat;
    }
    .search-mb::placeholder {
        color: white;
    }
    aside.sidebar {
        display: none;
    }

    .sort-home-m {
        display: flex;
        justify-content: space-evenly;
    }
    .home-cards {
        justify-content: space-evenly;
    }
    button.action-btn {
        margin: 0;
        padding-right: 1rem;
    }
    .sort-home {
        display: none;
    }
}
