<div class="property-card with-status">
    <img class="property-img" src="images/property-img.png" alt="property" />
    <div class="property-rating">
        <img src="icons/star-filled.svg" alt="" />
        <img src="icons/star-filled.svg" alt="" />
        <img src="icons/star-filled.svg" alt="" />
        <img src="icons/star-filled.svg" alt="" />
        <img src="icons/star-empty.svg" alt="" />
    </div>
    <div class="comment-icon">99+</div>
    <div class="status-row">
        <span class="status expired">Expired</span>
    </div>
    <div class="property-text">
        <div>
            <h4>456 St. George Street</h4>
            <p>Totonto, ON, Canada</p>
        </div>
        <h4 class="price">$4,321 CAD/night</h4>
        <div>
            <h4>FROM</h4>
            <p class="date">Mnt. 99, 2030</p>
        </div>
        <div>
            <h4>TO</h4>
            <p class="date">Mnt. 88, 2040</p>
        </div>
    </div>
</div>
