<div class="property-card">
    <img class="property-img" src="images/property-img.png" alt="property" />
    <div class="property-rating">
        <img src="icons/star-filled.svg" alt="" />
        <img src="icons/star-filled.svg" alt="" />
        <img src="icons/star-filled.svg" alt="" />
        <img src="icons/star-filled.svg" alt="" />
        <img src="icons/star-empty.svg" alt="" />
    </div>
    <div class="comment-icon">99+</div>
    <div class="property-text">
        <div>
            <h4>456 St. George Street</h4>
            <p>Totonto, ON, Canada</p>
        </div>
        <div>
            <h4>FROM</h4>
            <p class="date">Mnt. 99, 2030</p>
        </div>
        <div>
            <h4>TO</h4>
            <p class="date">Mnt. 88, 2040</p>
        </div>
    </div>
    <h4 class="price">$4,321 CAD/night</h4>
    <p class="status">Status: Pending</p>
    <p class="status">Status: Denied</p>
    <p class="status">Status: Expired</p>
    <p class="status">Status: Approved</p>
    <p class="status">Status: Canceled</p>
    <p class="status">Status: Termiated</p>
    <p class="status active">Status: Completed</p>
</div>