<div class="modal-backdrop">
    <div class="modal-container">
        <section class="modal-content">
            <div class="image-section">
                <div class="image-selector">
                    <div class="pos-relative">
                        <button class="del-img clickable-on-dark">
                            <img src="/icons/x-white-small.svg"/>
                        </button>
                        <img class="propery-img" src="images/property-img.png" />
                    </div>
                    <div class="pos-relative">
                        <button class="del-img clickable-on-dark">
                            <img src="/icons/x-white-small.svg"/>
                        </button>
                        <img class="propery-img" src="images/property-img.png" />
                    </div>
                    <div class="pos-relative">
                        <button class="del-img clickable-on-dark">
                            <img src="/icons/x-white-small.svg"/>
                        </button>
                        <img class="propery-img" src="images/property-img.png" />
                    </div>
                    <div class="pos-relative">
                        <button class="del-img clickable-on-dark">
                            <img src="/icons/x-white-small.svg"/>
                        </button>
                        <img class="propery-img" src="images/property-img.png" />
                    </div>
                </div>
            </div>
            <div class="info-section">
                <article class="property-info">
                    
                    <h3>Description</h3>
                    <textarea class="description-text" placeholder="Enter a description...">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </textarea>
                    
                    <h3>Amenities</h3>
                    <div class="amenity-container">
                        <div class="amenity-tag">
                            <button class="action-btn">
                                <img src="/icons/x-dark.svg">
                            </button>
                            WIFI
                        </div>
                        <div class="amenity-tag">
                            <button class="action-btn">
                                <img src="/icons/x-dark.svg">
                            </button>
                            Air conditioning
                        </div>
                        <div class="amenity-tag">
                            <button class="action-btn">
                                <img src="/icons/x-dark.svg">
                            </button>
                            WIFI
                        </div>
                        <div class="amenity-tag">
                            <button class="action-btn">
                                <img src="/icons/x-dark.svg">
                            </button>
                            Washing machine
                        </div>
                        <div class="amenity-tag">
                            <button class="action-btn">
                                <img src="/icons/x-dark.svg">
                            </button>
                            Kitchen
                        </div>
                        <div class="amenity-tag">
                            <button class="action-btn">
                                <img src="/icons/x-dark.svg">
                            </button>
                            Pool
                        </div>
                        <div class="amenity-tag">
                            <button class="action-btn">
                                <img src="/icons/x-dark.svg">
                            </button>
                            Dryer
                        </div>
                        <div class="amenity-tag">
                            <button class="action-btn">
                                <img src="/icons/x-dark.svg">
                            </button>
                            Pool
                        </div>
                        <input type="">
                    </div>
                    
                    <h3>Availability</h3>
                    <div class="availability">
                        <ul class="content-list">
                            <li class="availability-item card pos-relative">
                                <button class="action-btn del-item">
                                    <img src="/icons/x-dark.svg">
                                </button>
                                <p>From: <span class="date">March 1, 2025</span></p>
                                <p>To: <span class="date">March 1, 2026</span></p>
                                <p>Price: <span class="price">$500</span></p>
                            </li>

                            <li class="availability-item card pos-relative">
                                <button class="action-btn del-item">
                                    <img src="/icons/x-dark.svg">
                                </button>
                                <p>From: <span class="date">March 1, 2025</span></p>
                                <p>To: <span class="date">March 1, 2026</span></p>
                                <p>Price: <span class="price">$500</span></p>
                            </li>
                        </ul>
                        <div class="add-availability">
                            <input type="date">
                            <input type="date">
                            <input type="">
                            <button class="action-btn purple-dark">Add Availability</button>
                        </div>
                    </div>
                    <div class="save-changes">
                        <button class="action-btn save-changes green-dark">
                            Save Changes
                        </button>
                    </div>
                    

                    <h3>Comments and Ratings</h3>
                    <ul class="content-list content-list-comments">
                        <li>
                            <div class="comment-card main-comment has-ratings">
                                <img class="profile-img" src="/images/user-avatar-default.png">
                                <div class="comment-info">
                                    <h4>Jane Doe</h4>
                                    <div class="rating-container">
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                    </div>
                                    <p>Stayed From <span class="date">March 10, 2025</span> To <span class="date">March
                                            15, 2025</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>

                            <details class="reply-container">
                                <summary class="comments-dropdown" comments-open="Hide Replies"
                                    comments-hidden="Show Replies"></summary>
                                <div class="comment-card reply host-reply">
                                    <img class="profile-img" src="/images/user-avatar-default.png">
                                    <div class="comment-info">
                                        <h4>John Doe</h4>
                                        <span class="date">March 10, 2025</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="comment-card reply">
                                    <img class="profile-img" src="/images/user-avatar-default.png">
                                    <div class="comment-info">
                                        <h4>Jane Doe</h4>
                                        <span class="date">March 10, 2025</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="reply-input-container">
                                            <textarea placeholder="Reply to comment..."></textarea>
                                            <button class="send-arrow">
                                                <img src="/icons/arrow-right-purple.svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </li>

                        <li>
                            <div class="comment-card main-comment">
                                <img class="profile-img" src="/images/user-avatar-default.png">
                                <div class="comment-info">
                                    <h4>Jane Doe</h4>
                                    <div class="rating-container">
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                    </div>
                                    <p>Stayed From <span class="date">March 10, 2025</span> To <span class="date">March
                                            15, 2025</span></p>
                                    <div class="reply-input-container">
                                        <textarea placeholder="Reply to comment..."></textarea>
                                        <button class="send-arrow">
                                            <img src="/icons/arrow-right-purple.svg">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="comment-card main-comment has-ratings">
                                <img class="profile-img" src="/images/user-avatar-default.png">
                                <div class="comment-info">
                                    <h4>Jane Doe</h4>
                                    <div class="rating-container">
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                    </div>
                                    <p>Stayed From <span class="date">March 10, 2025</span> To <span class="date">March
                                            15, 2025</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>

                            <details class="reply-container">
                                <summary class="comments-dropdown" comments-open="Hide Replies"
                                    comments-hidden="Show Replies"></summary>
                                <div class="comment-card reply host-reply">
                                    <img class="profile-img" src="/images/user-avatar-default.png">
                                    <div class="comment-info">
                                        <h4>John Doe</h4>
                                        <span class="date">March 10, 2025</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </details>
                        </li>
                    </ul>

                    <h3>Past Guests</h3>
                    <ul class="content-list content-list-comments"">
                        <li>
                            <div class="past-guest-card has-ratings">
                                <div class="guest-info">
                                    <img class="profile-img" src="/images/user-avatar-default.png">

                                    <h4>Jane Doe</h4>
                                </div>

                                <div class="rating-container">
                                    <img src="icons/star-empty.svg" alt="" />
                                    <img src="icons/star-empty.svg" alt="" />
                                    <img src="icons/star-empty.svg" alt="" />
                                    <img src="icons/star-empty.svg" alt="" />
                                    <img src="icons/star-empty.svg" alt="" />
                                </div>
                                <div class="reply-input-container">
                                    <textarea placeholder="Leave a rating..."></textarea>
                                    <button class="send-arrow">
                                        <img src="/icons/arrow-right-purple.svg">
                                    </button>
                                </div>
                            </div>
                            <details>
                                <summary class="comments-dropdown" comments-open="Hide Host Ratings"
                                    comments-hidden="Show Host Ratings"></summary>
                                <ul>
                                    <li>
                                        <div class="comment-card reply host-reply">
                                            <img class="profile-img" src="/images/user-avatar-default.png">
                                            <div class="comment-info">
                                                <h4>John Doe</h4>
                                                <div class="rating-container">
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                </div>
                                                <span class="date">March 10, 2025</span></p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment-card reply host-reply">
                                            <img class="profile-img" src="/images/user-avatar-default.png">
                                            <div class="comment-info">
                                                <h4>John Doe</h4>
                                                <div class="rating-container">
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                </div>
                                                <span class="date">March 10, 2025</span></p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </details>
                        </li>

                        <li>
                            <div class="past-guest-card has-ratings">
                                <div class="guest-info">
                                    <img class="profile-img" src="/images/user-avatar-default.png">
                                    <h4>Jane Doe</h4>
                                </div>
                            </div>
                            <details>
                                <summary class="comments-dropdown" comments-open="Hide Host Ratings"
                                    comments-hidden="Show Host Ratings"></summary>
                                <ul>
                                    <li>
                                        <div class="comment-card reply host-reply">
                                            <img class="profile-img" src="/images/user-avatar-default.png">
                                            <div class="comment-info">
                                                <h4>John Doe</h4>
                                                <div class="rating-container">
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                </div>
                                                <span class="date">March 10, 2025</span></p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment-card reply host-reply">
                                            <img class="profile-img" src="/images/user-avatar-default.png">
                                            <div class="comment-info">
                                                <h4>John Doe</h4>
                                                <div class="rating-container">
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                    <img src="icons/star-filled.svg" alt="" />
                                                </div>
                                                <span class="date">March 10, 2025</span></p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </article>
            </div>
        </section>
        
        <aside class="modal-action">
            <button class="btn-modal-close clickable-on-dark">
                <img src="icons/x-white.svg" alt="X" />
            </button>
            <div class="modal-header">
                <h3>123 St George Street</h3>
            </div>
            <div class="item-container">
                <div class="input-container">
                    <h3 class="request-heading">Current Guests</h3>
                    <div class="request-container">
                        <div class="request-card has-ratings">
                            <div class="request-card-content">
                                <div class="request-card-info">
                                    <h4>John Doe</h4>
                                    <p>From <span class="date">March 5, 2025</span> </p>
                                    <p>To <span class="date">March 10, 2025</span></p>
                                    <p class="price">$500</p>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="action-btn gray-light">Terminate</button>
                            </div>
                        </div>
                        <details>
                            <summary class="comments-dropdown" comments-open="Hide Comments"
                                comments-hidden="Show Comments"></summary>
                            <div class="request-card host-comment">
                                <div class="request-card-content">
                                    <img src="/images/user-avatar-default.png" class="profile-img">
                                    <div class="request-card-info">
                                        <h4>John Doe</h4>
                                        <div class="rating-container">
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                        </div>
                                        <p><span class="date">March 1, 2025</span></p>

                                    </div>

                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </details>
                    </div>
                    <h3 class="request-heading">Cancellation Requests</h3>
                    <div class="request-container">
                        <div class="request-card has-ratings">
                            <div class="request-card-content">
                                <div class="request-card-info">
                                    <h4>John Doe</h4>
                                    <p>From <span class="date">March 5, 2025</span> </p>
                                    <p>To <span class="date">March 10, 2025</span></p>
                                    <p class="price">$500</p>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="action-btn green-light"> Accept</button>
                                <button class="action-btn gray-light"> Decline</button>
                            </div>
                        </div>
                        <details>
                            <summary class="comments-dropdown" comments-open="Hide Comments"
                                comments-hidden="Show Comments"></summary>
                            <div class="request-card host-comment">
                                <div class="request-card-content">
                                    <img src="/images/user-avatar-default.png" class="profile-img">
                                    <div class="request-card-info">
                                        <h4>John Doe</h4>
                                        <div class="rating-container">
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                        </div>
                                        <p><span class="date">March 1, 2025</span></p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </details>
                    </div>
                    <h3 class="request-heading">Reservation Requests</h3>
                    <div class="request-container">
                        <div class="request-card has-ratings">
                            <div class="request-card-content">
                                <div class="request-card-info">
                                    <h4>John Doe</h4>
                                    <p>From <span class="date">March 5, 2025</span> </p>
                                    <p>To <span class="date">March 10, 2025</span></p>
                                    <p class="price">$500</p>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="action-btn green-light"> Accept</button>
                                <button class="action-btn gray-light"> Decline</button>
                            </div>
                        </div>
                        <details>
                            <summary class="comments-dropdown" comments-open="Hide Comments"
                                comments-hidden="Show Comments"></summary>
                            <div class="request-card host-comment">
                                <div class="request-card-content">
                                    <img src="/images/user-avatar-default.png" class="profile-img">
                                    <div class="request-card-info">
                                        <h4>John Doe</h4>
                                        <div class="rating-container">
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                        </div>
                                        <p><span class="date">March 1, 2025</span></p>

                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </details>
                    </div>

                    <div class="request-container">
                        <div class="request-card has-ratings">
                            <div class="request-card-content">
                                <div class="request-card-info">
                                    <h4>John Doe</h4>
                                    <p>From <span class="date">March 5, 2025</span> </p>
                                    <p>To <span class="date">March 10, 2025</span></p>
                                    <p class="price">$500</p>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="action-btn green-light"> Accept</button>
                                <button class="action-btn gray-light"> Decline</button>
                            </div>
                        </div>
                        <details>
                            <summary class="comments-dropdown" comments-open="Hide Comments"
                                comments-hidden="Show Comments"></summary>
                            <div class="request-card host-comment">
                                <div class="request-card-content">
                                    <img src="/images/user-avatar-default.png" class="profile-img">
                                    <div class="request-card-info">
                                        <h4>John Doe</h4>
                                        <div class="rating-container">
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                            <img src="icons/star-filled.svg" alt="" />
                                        </div>
                                        <p><span class="date">March 1, 2025</span></p>

                                    </div>

                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </details>
                    </div>
        </aside>
    </div>
</div>