<div class="modal-backdrop">
    <div class="modal-container">
        <section class="modal-content">
            <div class="image-section">
                <div class="splide" aria-label="Property Images">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide"><img src="images/property-img.png" alt="" /></li>
                            <li class="splide__slide"><img src="images/property-img.png" alt="" /></li>
                            <li class="splide__slide"><img src="images/property-img.png" alt="" /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="info-section">
                <article class="property-info">
                    <h3>Description</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    <h3>Amenities</h3>
                    <div class="amenity-container">
                        <div class="amenity-tag">
                            WIFI
                        </div>
                        <div class="amenity-tag">
                            Air conditioning
                        </div>
                        <div class="amenity-tag">
                            WIFI
                        </div>
                        <div class="amenity-tag">
                            Washing machine
                        </div>
                        <div class="amenity-tag">
                            Kitchen
                        </div>
                        <div class="amenity-tag">
                            Pool
                        </div>
                        <div class="amenity-tag">
                            Dryer
                        </div>
                        <div class="amenity-tag">
                            Pool
                        </div>
                    </div>

                    <h3>Availability</h3>
                    <div class="availability">
                        <ul class="content-list">
                            <li class="availability-item card">
                                <p>From: <span class="date">March 1, 2025</span></p>
                                <p>To: <span class="date">March 1, 2026</span></p>
                                <p>Price: <span class="price">$500</span></p>
                            </li>

                            <li class="availability-item card">
                                <p>From: <span class="date">March 1, 2025</span></p>
                                <p>To: <span class="date">March 1, 2026</span></p>
                                <p>Price: <span class="price">$500</span></p>
                            </li>
                        </ul>
                    </div>

                    <h3>Comments and Ratings</h3>
                    <ul class="content-list content-list-comments">
                        <li>
                            <div class="comment-card">
                                <div class="comment-info">
                                    <div class="rating-container">
                                        <img src="icons/star-empty.svg" alt="" />
                                        <img src="icons/star-empty.svg" alt="" />
                                        <img src="icons/star-empty.svg" alt="" />
                                        <img src="icons/star-empty.svg" alt="" />
                                        <img src="icons/star-empty.svg" alt="" />
                                    </div>
                                    <div class="reply-input-container">
                                        <textarea placeholder="Leave a rating..."></textarea>
                                        <button class="send-arrow">
                                            <img src="/icons/arrow-right-purple.svg">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="comment-card main-comment has-ratings">
                                <img class="profile-img" src="/images/user-avatar-default.png">
                                <div class="comment-info">
                                    <h4>Jane Doe</h4>
                                    <div class="rating-container">
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                    </div>
                                    <p>Stayed From <span class="date">March 10, 2025</span> To <span class="date">March
                                            15, 2025</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>

                            <details class="reply-container">
                                <summary class="comments-dropdown" comments-open="Hide Replies"
                                    comments-hidden="Show Replies"></summary>
                                <div class="comment-card reply host-reply">
                                    <img class="profile-img" src="/images/user-avatar-default.png">
                                    <div class="comment-info">
                                        <h4>John Doe</h4>
                                        <span class="date">March 10, 2025</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="comment-card reply">
                                    <img class="profile-img" src="/images/user-avatar-default.png">
                                    <div class="comment-info">
                                        <h4>Jane Doe</h4>
                                        <span class="date">March 10, 2025</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </details>
                        </li>

                        <li>
                            <div class="comment-card main-comment has-ratings">
                                <img class="profile-img" src="/images/user-avatar-default.png">
                                <div class="comment-info">
                                    <h4>Jane Doe</h4>
                                    <div class="rating-container">
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                        <img src="icons/star-filled.svg" alt="" />
                                    </div>
                                    <p>Stayed From <span class="date">March 10, 2025</span> To <span class="date">March
                                            15, 2025</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>

                            <details class="reply-container">
                                <summary class="comments-dropdown" comments-open="Hide Replies"
                                    comments-hidden="Show Replies"></summary>
                                <div class="comment-card reply host-reply">
                                    <img class="profile-img" src="/images/user-avatar-default.png">
                                    <div class="comment-info">
                                        <h4>John Doe</h4>
                                        <span class="date">March 10, 2025</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="reply-input-container">
                                            <textarea placeholder="Reply to comment..."></textarea>
                                            <button class="send-arrow">
                                                <img src="/icons/arrow-right-purple.svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </li>
                    </ul>
                </article>
            </div>
        </section>
        <aside class="modal-action with-action-widget">
            <button class="btn-modal-close clickable-on-dark">
                <img src="icons/x-white.svg" alt="X" />
            </button>
            <div class="modal-header">
                <h3>456 St. George Street Sunny Toronto</h3>
            </div>

            <div class="item-container">
                <div class="action-widget">
                    <h3><img src="icons/check-circle-green-dark.svg" alt="Calendar" />Booked!</h3>
                    <ul class="booked-info">
                        <li class="price">$456.00/night</li>
                        <li class="duration">Mnt. 45, 2045 - Mnt. 63, 3056</li>
                    </ul>
                    <button class="action-btn gray-dark">Cancel Reservation</button>
                </div>
                <article class="action-details">
                    <h4>The Host</h4>
                    <div class="host-info-card">
                        <span class="avatar-container">
                            <img class="avatar" src="images/user-avatar-color.png" alt="Host Avatar" />
                        </span>
                        <ul class="bio">
                            <li class="name">John Doe</li>
                            <li class="email"><a href="mailto:john.doe@restify.com">john.doe@restify.com</a></li>
                            <li class="tel">+1 456-789-0101</li>
                        </ul>
                    </div>
                </article>
            </div>
        </aside>
    </div>
</div>
