<div class="modal-backdrop">
    <div class="modal-container">
        <section class="modal-content">
            <div class="image-section">
                <div class="splide" aria-label="Property Images">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide"><img src="images/property-img.png" alt="" /></li>
                            <li class="splide__slide"><img src="images/property-img.png" alt="" /></li>
                            <li class="splide__slide"><img src="images/property-img.png" alt="" /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="info-section">
                <article class="property-info">
                    <h3>Some Header</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <h3>Some Header</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
            </div>
        </section>
        <aside class="modal-action with-action-widget">
            <button class="btn-modal-close clickable-on-dark">
                <img src="icons/x-white.svg" alt="X" />
            </button>
            <div class="modal-header">
                <h3>456 St. George Street Sunny Toronto</h3>
            </div>

            <div class="item-container">
                <div class="action-widget">
                    <h3><img src="icons/calendar-green-dark.svg" alt="Calendar" />Make reservation</h3>
                    <h4>Duration:</h4>
                    <input type="date" />
                    <input type="date" />
                    <h4>Number of guests:</h4>
                    <input type="number" />
                    <table class="prices">
                        <tr>
                            <th>Subtotal</th>
                            <td>$450.00</td>
                        </tr>
                        <tr>
                            <th>Fees</th>
                            <td>$13.25</td>
                        </tr>
                        <tr>
                            <th>Taxes</th>
                            <td>$46.74</td>
                        </tr>
                        <tr class="price-total">
                            <th>Total</th>
                            <td>$574.38</td>
                        </tr>
                    </table>
                    <button class="action-btn gray-dark">Send request</button>
                </div>
                <article class="action-details">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
            </div>
        </aside>
    </div>
</div>
