<div class="modal-container">
    <div class="modal-content">
        <div class="image-selector">
            <img src="images/property-img.png">
            <img src="images/property-img.png">
            <img src="images/property-img.png">
            <img src="images/property-img.png">
        </div>
    </div>
    <div class="modal-action">
        <div class="modal-header">Create new listing</div>
        <div class="item-container">
            <div class="input-container">
                <h4>Address:</h4>
                <input type="text">
            </div>
            <div class="input-container">
                <h4>Number of quests allowed:</h4>
                <input type="number">
            </div>
            <div class="input-container">
                <h4>Dates Available:</h4>
                <input type="date">
                <input type="date">
            </div>
            <div class="input-container">
                <h4>Amenities:</h4>
                <input type="text">
            </div>
            <div class="input-container">
                <h4>Price:</h4>
                <input type="">
            </div>
            <div class="input-container">
                <h4>Price:</h4>
                <input type="">
            </div>
            <div class="input-container">
                <h4>Price:</h4>
                <input type="">
            </div>
            <div class="input-container">
                <h4>Price:</h4>
                <input type="">
            </div>
            <div class="input-container">
                <h4>Price:</h4>
                <input type="">
            </div>
        </div>
        
    </div>
</div>