<nav class="nav-main">
    <a href="index.html">
        <span class="logo-combo clickable-on-dark" onclick="r">
            <img class="logo-icon" src="icons/logo-icon-green-light.svg" alt="Logo Icon" />
            <h1>Restify</h1>
        </span>
    </a>

    <!-- Search Bar Goes Here -->

    <span class="tray-notif-avatar">
        <button class="btn-notif clickable-on-dark popup-parent">
            <img src="icons/bell-filled-white.svg" alt="Bell" />
            <!-- Notification Popup -->
            <div class="popup popup-drawer-scrollable">
                <!-- content for the notif popup goes here -->
                <p>Stuffdsfkjhnsdlfknhsdjlkfhbljskdbflkjsdfhbksfkjfkjshfklshdlfkhsdlfj</p>
            </div>
        </button>
        <button class="btn-avatar popup-parent">
            <span class="avatar-container">
                <img class="avatar" src="images/user-avatar-default.png" alt="Avatar" />
            </span>
            <span class="avatar-slideout">
                <img src="icons/chevron-down-green-dark.svg" alt="▾" />
            </span>
            <!-- Avatar Menu Popup -->
            <div class="popup popup-fixed">
                <!-- content for the avatar popup goes here -->
                <ul>
                    <li>
                        <a href="dashboard.html"><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="profile.html"><span>Profile</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Log out</span><img src="icons/log-out-dray-dark.svg" alt="Exit" /></a>
                    </li>
                </ul>
            </div>
        </button>
    </span>
</nav>
